/*
Theme Name:     Inside Energy
Theme URI:      http://largoproject.org
Description:    A child theme for Inside Energy based on the Project Largo parent theme.
Author:         Adam Schweigert/INN
Author URI:     http://largoproject.org
Template:       largo
Version:        0.1.0
*/
#site-footer a,
#site-footer a:hover {
  color: #fff;
}
.global-nav .nav-right ul#header-social {
  margin-right: 0;
}
.global-nav ul {
  font-size: 13px;
  letter-spacing: 1px;
}
#header-social .icon-facebook,
#header-social .icon-rss,
#header-social .icon-twitter,
#header-social .icon-youtube,
#header-social .icon-tumblr,
#header-social .icon-gplus {
  background-color: #f48221 !important;
}
.navbar-inner {
  text-transform: uppercase;
}
.navbar ul {
  font-size: 16px;
}
.nav.hidden-phone {
  margin-right: 6px;
  padding-right: 6px;
  border-right: 1px solid #c26904;
}
#homepage-bottom .widget-2 {
  background-color: #efefef;
}
#homepage-bottom .widgettitle,
#sidebar .widgettitle,
.page-template-iframe-php .widgettitle {
  text-align: center;
  border: none;
  padding: 5px 0;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  font-size: 18px !important;
  margin-bottom: 12px;
}
#sidebar .widgettitle {
  font-size: 15px;
}
#homepage-bottom .widget-1 .widgettitle {
  background-color: #f48221;
  color: #fff;
}
#homepage-bottom .widget-2 .widgettitle {
  background-color: #cdcdcd;
  color: #f48221;
}
#site-footer .widgettitle,
#site-footer li.menu-label {
  color: #f48221;
}
.super-footer {
  height: auto;
  clear: both;
  margin-bottom: 1em;
}
.super-footer h5 {
  background-color: #f48221;
  color: #fff;
  font-size: 14px;
  padding: 5px 0;
  text-align: center;
  font-weight: normal;
}
.super-footer .row-fluid .span2 {
  width: 10%;
}
.super-footer .row-fluid .span2 img {
  max-width: 100%;
}
/* styles specifically for the embeddable page */

.page-template-iframe-php .newsletter-signup {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  border: none;
  border-radius: 0;
  background-color: #f48221;
  color: #fff;
}
.page-template-iframe-php {
  padding-bottom: 46px;
}
.page-template-iframe-php #page {
  padding: 0;
}
.page-template-iframe-php #site-header img {
  margin: 0;
}
.page-template-iframe-php h6.today-ie {
  font-size: 21px;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.page-template-iframe-php .top-story img {
  margin-bottom: 8px;
}
.page-template-iframe-php .top-story h2 {
  line-height: 1.1;
  margin-bottom: 8px;
}
.page-template-iframe-php .top-story .byline {
  font-size: 12px;
  margin-bottom: 8px;
}
.page-template-iframe-php .widgettitle {
  margin-bottom: 24px !important;
}
.page-template-iframe-php article {
  border-bottom: none;
}
.page-template-iframe-php article img.attachment-post-thumbnail {
  float: left;
  margin: 0 20px 10px 0;
}
.page-template-iframe-php article:last-child {
  margin-bottom: 0;
}
.page-template-iframe-php .super-footer {
  height: auto;
}
.page-template-iframe-php .super-footer h5 {
  margin: 0;
  padding: 6px 10px 8px;
}
.page-template-iframe-php #site-footer #boilerplate {
  border-top: none;
  padding-top: 12px;
  padding-bottom: 12px;
}
.page-template-iframe-php #site-footer ul.social-icons {
  float: right;
}
.page-template-iframe-php #site-footer ul.social-icons li {
  margin: 0 5px;
  font-size: 16px;
  display: inline;
}
.page-template-iframe-php .footer-bg {
  background-color: #666;
  padding: 0;
}
.page-template-iframe-php #menu-footer-bottom {
  text-transform: uppercase;
  display: inline-block;
}
.page-template-iframe-php p.more-link a {
  color: #f48221;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.category.category-ie-investigations #content {
  margin: 0 auto;
  float: none;
}
.category.category-ie-investigations .item {
  clear: both;
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ccc;
}
.category.category-ie-investigations .item-content {
  float: right;
}
.category.category-ie-investigations .content-top h3,
.category.category-ie-investigations .content-top h5,
.category.category-ie-investigations .content-top p {
  margin-bottom: 8px;
}
.category.category-ie-investigations .content-top h3 {
  font-size: 28px;
}
.category.category-ie-investigations .content-top h5 {
  font-size: 18px;
}
.category.category-ie-investigations .content-top img.attachment-post-thumbnail {
  float: left;
  margin: 0 20px 0 0;
  max-width: 100%;
}
@media all and (max-width: 480px) {
  .category.category-ie-investigations .content-top img.attachment-post-thumbnail {
    margin-bottom: 18px;
  }
}
.category.category-ie-investigations h3.recent-posts {
  font-size: 24px;
}
.category.category-ie-investigations #nav-below {
  min-height: 30px;
  margin-bottom: 24px;
}
@media all and (max-width: 480px) {
  .category.category-ie-investigations .span3,
  .category.category-ie-investigations .span9 {
    width: 100%;
    clear: both;
    float: none;
  }
  .category.category-ie-investigations .span9 {
    margin-left: 0;
  }
}
@media all and (max-width: 768px) {
  .super-footer .row-fluid .span2 {
    width: 30%;
    margin-bottom: 1em;
  }
}
